# Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison Operators
- Dictionaries
- Tuples 
- Set

## Boolean variables 
They are 2 constant objects : false and true.

Used to represent truth values (other values can also be considered false or true).

In numeric context : true -> 1 and false -> 0.

The built-in function bool() can be used to cast any value to a boolean, if the value can be interpreted as a truth value.

They are written as False and True, respectively.

In [1]:
print(True, False)

True False

In [2]:
type(True)

bool

In [3]:
type(False)

bool

In [4]:
my_str = "bool var 1"

In [5]:
my_str.isalnum()

False

In [6]:
my_str2 = "bool007"

In [7]:
my_str2.isalnum()

True

In [13]:
#check if all char are aplhabets
print(my_str.isalpha())
#check if char are numbers
print(my_str.isalnum())
#test if string contains digits
#test if string contains words
#test if string contains title words
#test if string contains lower case
#test if string contains upper case
#test if string contains spaces
#test if string starts with b
#test if string ends with 7

False
False

## Boolean and Logical Operators

In [14]:
True and True

True

In [15]:
True and False

False

In [16]:
True or False

True

In [17]:
True or True

True

In [18]:
str1 = "hello world"
str2 = "Data Science"

In [24]:
str1.isalpha() and str2.istitle()

False

## Lists

In [25]:
type([])

list

In [26]:
#creating empty list :  method 1
list_example=[]

In [27]:
type(list_example)

list

In [28]:
#mehtod 2 - using in-built function : list()
lst = list()

In [29]:
type(lst)

list

In [31]:
#adding items to a list - just enter comma seperated values
lst = ['coldpay', 'kodaline', 1, 54]

In [32]:
len(lst)

4

In [34]:
type(lst)

list

### In-built functions for lists

### Append - by default, adds elements at the end of the list

In [35]:
#add elements in the list 
lst.append("imagine dragons")

In [36]:
lst

['coldpay', 'kodaline', 1, 54, 'imagine dragons']

In [37]:
# indexing in lists
lst[0]

'coldpay'

In [39]:
lst[4]

'imagine dragons'

In [40]:
#pick up all elements
#we have not specified starting and ending index that's why we get complete list
lst[:]

['coldpay', 'kodaline', 1, 54, 'imagine dragons']

In [42]:
lst[1:4]

['kodaline', 1, 54]

In [44]:
#creating nested list
lst.append(['Chris Martin', 'Ed Sheeran'])

In [50]:
lst

['coldpay',
 'kodaline',
 1,
 'Charlie Puth',
 54,
 'imagine dragons',
 ['Chris Martin', 'Ed Sheeran']]

### Insert - for inserting elements at desired index in a list

In [46]:
lst.insert(3, 'Charlie Puth')

In [47]:
lst

['coldpay',
 'kodaline',
 1,
 'Charlie Puth',
 54,
 'imagine dragons',
 ['Chris Martin', 'Ed Sheeran']]

In [48]:
len(lst)

7

In [51]:
lst.append(['Yellow', 'Fix you'])

In [52]:
lst

['coldpay',
 'kodaline',
 1,
 'Charlie Puth',
 54,
 'imagine dragons',
 ['Chris Martin', 'Ed Sheeran'],
 ['Yellow', 'Fix you']]

In [53]:
lst = [2, 5 ,8]

In [54]:
lst.append([45, 96])

In [55]:
lst

[2, 5, 8, [45, 96]]

### Extend - adds elements as individual elements to the desired list even if we extend another list (nested list)

In [56]:
lst = [1, 2, 3, 4, 5]

In [59]:
#adds 6 and 7 as individual elements to the list lst
lst.extend([6, 7])

In [58]:
lst

[1, 2, 3, 4, 5, 6, 7]

### Various operations that can be performed on lists

In [74]:
lst = [15, 2, 31]

In [90]:
sum(lst)

48

In [91]:
#whole list will get appended n times (here n=2)
lst*2

[1, 1, 5, 3, 6, 6, 8, 8, 8, 1, 1, 1, 1, 5, 3, 6, 6, 8, 8, 8, 1, 1]

### pop() method

In [76]:
lst.pop()

31

In [77]:
lst.pop(0)

15

In [78]:
lst

[2]

### count() - calculates total occurences of an element in a list

In [79]:
lst = [1,1,5,3,6,6,8,8,8,1,1]

In [80]:
lst.count(6)

2

### index() - returns index of first occurence. start and end index are not necessary parameters

In [81]:
lst.index(8)

6

In [82]:
lst.index(1)

0

In [89]:
#search for 1st occurence of 1 from starting index 5 to ending index 8
#lst.index(value, start, end)
lst.index(1,5,8)

ValueError: 1 is not in list

In [84]:
lst.index(1, 5, 10)

9

### min and max

In [86]:
min(lst)

1

In [87]:
max(lst)

8

### length - returns no. of elements present in a list

In [88]:
len(lst)

11

## Sets
A set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on a data structure called hash table.

In [1]:
# defining an empty set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
set_var = {'avengers', 'iron man', 'hitman'}
print(set_var)
print(type(set_var))

{'hitman', 'iron man', 'avengers'}
<class 'set'>

Note in the above example the order in which the elements are printed is not the same as the order in which they were inserted. 
Order does not matter.

In [4]:
set_var = {5, 5, 7, 8, 3}
print(set_var)

{8, 3, 5, 7}

Repeated elements are not allowed. Each element is inserted only once in a set as can be seen above.

In [5]:
set_var = {'Kodaline', 'Coldplay', 'Ed Sheeran'}
print(set_var)
print(type(set_var))

{'Ed Sheeran', 'Kodaline', 'Coldplay'}
<class 'set'>

## In-built functions in sets

In [7]:
#add : elements are added at random places in the set
set_var.add("Imagine Dragons")
print(set_var)

{'Imagine Dragons', 'Ed Sheeran', 'Kodaline', 'Coldplay'}

In [20]:
set1 = {'Kodaline', 'Charlie Puth', 'Coldplay', 'Sam Smith'}
set2 = {'Imagine Dragons', 'Coldplay', 'Sam Smith', 'Kodaline'}

In [21]:
#intersection : set2 updated with elements present in both set1 and set2
set2.intersection_update(set1)

In [22]:
set2

{'Coldplay', 'Kodaline', 'Sam Smith'}

In [23]:
#difference : 
print(set2.difference(set1))

set()

In [13]:
set2

set()

In [14]:
print(set2)

set()

Something is wrong above in difference function. Check it later.

## Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [29]:
dic = {}

In [30]:
type(dic)

dict

In [33]:
# difference between set and dictionary

#creating a set
set_ex = {1,2,6,4,8}

In [34]:
type(set_ex)

set

In [40]:
#creating a dictionary
my_dict = {"Coldplay" : "Fix You", "Ed Sheeran" : "Afterglow", "Kodaline" : "Saving Grace"}

In [41]:
type(my_dict)

dict

### Accessing values based on the keys

In [45]:
my_dict['Ed Sheeran']

'Afterglow'

### Looping through dictionaries

In [44]:
#By default prints only the keys
for x in my_dict:
    print(x)

Coldplay
Ed Sheeran
Kodaline

In [47]:
#looping through dictionaries with values
for x in my_dict.values():
    print(x)

Fix You
Afterglow
Saving Grace

In [48]:
#both key and values
for x in my_dict.items():
    print(x)

('Coldplay', 'Fix You')
('Ed Sheeran', 'Afterglow')
('Kodaline', 'Saving Grace')

### Adding items to a dictionary

In [49]:
my_dict['Imagine Dragons'] = 'Bad Liar'

In [50]:
my_dict

{'Coldplay': 'Fix You',
 'Ed Sheeran': 'Afterglow',
 'Kodaline': 'Saving Grace',
 'Imagine Dragons': 'Bad Liar'}

### Changing values
only values can be changed. **Keys cannot be changed.**

In [52]:
#changing values
my_dict['Coldplay'] = 'Yellow'

In [53]:
my_dict

{'Coldplay': 'Yellow',
 'Ed Sheeran': 'Afterglow',
 'Kodaline': 'Saving Grace',
 'Imagine Dragons': 'Bad Liar'}

### Nested dictionary

In [56]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model, 'car2':car2_model, 'car3':car3_model}

In [57]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [58]:
##Accessing the items in the dictionary
print(car_type['car1'])

{'Mercedes': 1960}

In [59]:
#accessing nested items
print(car_type['car2']['Audi'])

1970

## _Tuples_

In [60]:
# creating an empty tuple
my_tuple = tuple()

In [61]:
type(my_tuple)

tuple

In [62]:
my_tuple = ()

In [63]:
type(my_tuple)

tuple

### Updating a tuple : it can be updated only as a whole, individual elements cannot be changed.

In [64]:
my_tuple = ('hello', 'Sherlock', 'Holmes')

In [65]:
print(my_tuple)

('hello', 'Sherlock', 'Holmes')

In [66]:
my_tuple = ('Hello', 'World')

In [67]:
print(my_tuple)

('Hello', 'World')

In [68]:
print(type(my_tuple))

<class 'tuple'>

### In-built functions

In [69]:
my_tuple.count('Holmes')

0

In [70]:
my_tuple.index('World')

1