# Dealing with missing values

- Identifying missing values

- Approaches to fill the missing values

In [1]:
import os
import pandas as pd

In [2]:
os.chdir('F:/DS tut/datasets')

In [3]:
cars_data = pd.read_csv('Toyota.csv', index_col=0, na_values=['??', '????'])

In [5]:
cars_data2 = cars_data.copy()

In [6]:
cars_data3 = cars_data2.copy()

## Identifying missing values

- In Pandas df, missing data is represented by NaN (not a number).

- **isnull()** and **isna()** are the functions used to check null values in pandas df.

- These functions return a df of boolean values which are True for NaN values.

In [8]:
#total no. of missing values in each column of cars_data2
cars_data2.isna().sum()
#or cars_data2.isnull().sum()

Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [9]:
#subsetting rows that have one or more missing values
missing = cars_data2[cars_data2.isnull().any(axis=1)]

## Approaches to fill the missing values

**2 ways:**
Fill the missing values with

- _mean/median_, in case of _numerical variable_ 

- the class which has _maximum count_ in case of _categorical variable_

## Imputing missing values

Look at the description ot know whether numerical variables should be imputed with mean or median.

`df.describe()`

In [10]:
cars_data2.describe()

,Price,Age,KM,HP,MetColor,Automatic,CC,Weight
count,1436.000000,1336.000000,1421.000000,1430.000000,1286.000000,1436.000000,1436.000000,1436.00000
mean,10730.824513,55.672156,68647.239972,101.478322,0.674961,0.055710,1566.827994,1072.45961
std,3626.964585,18.589804,37333.023589,14.768255,0.468572,0.229441,187.182436,52.64112
min,4350.000000,1.000000,1.000000,69.000000,0.000000,0.000000,1300.000000,1000.00000
25%,8450.000000,43.000000,43210.000000,90.000000,0.000000,0.000000,1400.000000,1040.00000
50%,9900.000000,60.000000,63634.000000,110.000000,1.000000,0.000000,1600.000000,1070.00000
75%,11950.000000,70.000000,87000.000000,110.000000,1.000000,0.000000,1600.000000,1085.00000
max,32500.000000,80.000000,243000.000000,192.000000,1.000000,1.000000,2000.000000,1615.00000

In [11]:
cars_data2['Age'].mean()

55.67215568862275

**To fill NA/NaN values using the specified value**

`df.fillna()`

In [13]:
cars_data2['Age'].fillna(cars_data2['Age'].mean(), inplace=True)

In [14]:
cars_data2['KM'].median()

63634.0

In [15]:
cars_data2['KM'].fillna(cars_data2['KM'].median(), inplace=True)

In [16]:
cars_data2['HP'].mean()

101.47832167832168

In [18]:
cars_data2['HP'].fillna(cars_data2['HP'].mean(), inplace=True)

In [19]:
cars_data2.isna().sum()

Price          0
Age            0
KM             0
FuelType     100
HP             0
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

## Imputing missing values of 'FuelType'

`Series.value_counts()`

- returns a series containing counts of unique values

- the values will be in descending order so that the first element is the most frequently-occurring element

- Excludes NA values by default

In [20]:
cars_data2['FuelType'].value_counts()

Petrol    1177
Diesel     144
CNG         15
Name: FuelType, dtype: int64

In [21]:
cars_data2['FuelType'].fillna(cars_data2['FuelType'].value_counts().index[0], inplace=True)

## Imputing missing values of 'MetColor'

In [22]:
cars_data2['MetColor'].mode()

0    1.0
dtype: float64

In [23]:
cars_data2['MetColor'].fillna(cars_data2['MetColor'].mode()[0], inplace=True)

In [24]:
#now check for missing data
cars_data2.isnull().sum()

Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64

# Imputing missing values with lambda functions

- to fill NaN values in both numerical and categorical variables at one stretch

In [25]:
cars_data3 = cars_data3.apply(lambda x:x.fillna(x.mean()) if x.dtype=='float' else x.fillna(x.value_counts().index[0]))

Fill the missing values with mean if the data type is 'float' i.e. for numerical variables, else fill the mising values with mode. 

index[0] because `value_counts` gives the modes in descending order.